.no-result-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-result-wrapper p{
    margin:5px 0 15px 0;
    color: var(--text-dark);
    font-size: 1.1rem;
}

.clear-btn{
  padding: 0.8rem 1.5rem;
  width: max-content;
  background: var(--blue-primary);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-btn:hover {
  background: var(--blue-dark);
}