:root {
  --water-bg-opacity-low: rgba(255, 255, 255, 0.3);
  --water-bg-opacity-medium: rgba(238, 230, 230, 0.7);
  --water-border-color: rgba(255, 255, 255, 0.5);
  --text-color: #1f2937; /* gray-800 */
  --icon-color: #4b5563; /* gray-600 */
  --blue-hover-bg: rgba(59, 130, 246, 0.1); /* blue-500/10 */
  --blue-active-bg: rgba(59, 130, 246, 0.2); /* blue-500/20 */
  --blue-text: #3b82f6; /* blue-500 */
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  text-align: left;
}

.sortButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--water-border-color);
  padding: 0.625rem 1.25rem; 
  background-color: var(--water-bg-opacity-low);
  backdrop-filter: blur(4px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  outline: none; 
}

.sortButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.sortButton:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #60a5fa; 
}

.iconCalendar {
  margin-right: 0.75rem; 
  height: 1rem; 
  width: 1rem; 
  color: var(--icon-color);
}

.iconChevron {
  transform-origin: center;
  height: 1.25rem; 
  width: 1.25rem; 
  color: var(--icon-color);
}

.optionsMenu {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: inherit;
  border-radius: 0.5rem; 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--blue-light);
  backdrop-filter: blur(8px); 
  z-index: 10;
  overflow: hidden;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.optionItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem; 
  font-size: 0.875rem; 
  color: var(--text-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  background: none;
  text-align: left;
}

.optionItem:hover {
  background-color: var(--blue-hover-bg);
  color: var(--blue-text);
}

.optionItem.active {
  color: var(--blue-text);
  font-weight: 500; 
}

.optionIcon {
  margin-right: 0.75rem; 
  height: 1rem; 
  width: 1rem; 
}
