html,body,#__next { height: 100%; }

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

.hero-section {
  background-color: #2a4d8f; 
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  text-align:start;
}

.hero-title {
  font-size: 35px;
  font-weight: 600;
  color: #fff; 
  margin: 0 0 1rem 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.hero-subtext {
  font-size: 1.25rem;
  color: #c3c3c3;
  margin: 0 auto;
}

.no-data{
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: #ff0000;
  font-size: 20px;
}